<mat-toolbar class="header">
  <span>Employee Portal</span>
  <span class="css1"></span>
 <button mat-raised-button (click)="openAddEditEmpForm()">
  <!-- <mat-icon>add_circle</mat-icon> -->
  ADD EMPLOYEE
 </button>
</mat-toolbar>

<div class="main-body">
<h1 align="center">Employee Details</h1>
<div class="table-container">
   <table id="table" align="center" mat-table [dataSource]="dataSource" matSort>
 
     <!-- Emp ID Column -->
     <ng-container matColumnDef="employee_Id">
       <th mat-header-cell [hidden]="true" *matHeaderCellDef mat-sort-header> Emp ID </th>
       <td mat-cell [hidden]="true"  *matCellDef="let row"> {{row.employee_Id}} </td>
     </ng-container >
 
     <!-- Emp Name Column -->
     <ng-container matColumnDef="employee_Name">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
       <td mat-cell *matCellDef="let row"> {{row.employee_Name}}</td>
     </ng-container>
 
     <!-- Age Column -->
     <ng-container matColumnDef="age">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
       <td mat-cell *matCellDef="let row"> {{row.age}} </td>
     </ng-container>
 
     <!-- Gender Column -->
     <ng-container matColumnDef="gender">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
       <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
     </ng-container>

      <!-- phone_Number Column -->
      <ng-container matColumnDef="phone_Number">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
         <td mat-cell *matCellDef="let row"> {{row.phone_Number}} </td>
       </ng-container>

        <!-- Email ID Column -->
     <ng-container matColumnDef="email_Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
      <td mat-cell *matCellDef="let row"> {{row.email_Id}} </td>
    </ng-container>

     <!-- Department Column -->
     <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
      <td mat-cell *matCellDef="let row"> {{row.department}} </td>
    </ng-container>

     <!-- Edit and Delete Column -->
     <ng-container matColumnDef="action" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let row">
        <button  matTooltip="Edit"
                 matTooltipClass="tooltip" 
                 matTooltipPosition="above" 
                 mat-icon-button class="edit" 
                 (click)="openEditForm(row)" >
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="Delete"
                matTooltipClass="tooltip" 
                matTooltipPosition="above" 
                mat-icon-button class="delete" 
                (click)="deleteEmployee(row.employee_Id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
 
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
   </table>
 
   <mat-paginator [pageSizeOptions]="[7, 14, 21, 100]" aria-label="Select page of users"></mat-paginator>
 </div>
</div>