.content {
    padding-top: 10px;
  }
  h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.row {
    //display: flex;
    mat-form-field{
        width: 100%;
        margin: 5px;
    }
}
.css-gender{
    mat-label{
        margin-right:50px;
        font-size: medium;
        margin-left: 8px;
    }
    mat-radio-button{
        margin-right: 20px;
    }
margin-bottom: 10px;
}
.action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}
.validation{
margin-top: -24px;
margin-left: 5px;
}
.invalid{
    color:#ff1100;
}